
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>सुरेन्द्र चौरसिया</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- CSS
       ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!-- optico Icons -->
    <link rel="stylesheet" href="~/css/pbminfotech-base-icons.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Magnific -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- AOS -->
    <link rel="stylesheet" href="~/css/aos.css">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="~/css/shortcode.css">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/css/base.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/revolution/rs6.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@500&display=swap" rel="stylesheet">
    <style>
        .eapps-link {
            display: none !important;
        }
        ._2lqh
        {
            width:110% !important;
        }
    </style>
</head>
<body>
    <!-- Header Main Area -->
    <header class="site-header header-style-1">
        <div class="pre-header">
            <div class="container">
                <div class="d-md-flex justify-content-between align-items-center">
                    <div class="pbmit-pre-header-left">
                        <ul class="pbmit-contact-info">
                            <li>
                                <i class="pbmit-base-icon-phone-volume-solid"></i>
                                <a href="tel:09450778819">कॉल करें: <span>094507 78819</span></a>
                            </li>
                            <li>
                                <i class="pbmit-base-icon-mail-alt"></i>
                                <a href="mailto:surendrachaurasia@gmail.com">
                                    हमें मेल करें: <span>
                                        surendrachaurasia@gmail.com
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pbmit-pre-header-right d-flex">
                        फॉलो करे
                        <ul class="pbmit-social-links">
                            <li class="pbmit-social-li pbmit-social-facebook ">
                                <a href="https://www.facebook.com/surendra.chaurasia.104/" target="_blank">
                                    <span>
                                        <i class="pbmit-base-icon-facebook-squared"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="pbmit-social-li pbmit-social-twitter ">
                                <a href="https://twitter.com/mlasurendra" target="_blank">
                                    <span>
                                        <i class="pbmit-base-icon-twitter"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="pbmit-social-li pbmit-social-instagram ">
                                <a href="https://www.instagram.com/surendradeoria1/" target="_blank">
                                    <span>
                                        <i class="pbmit-base-icon-instagram"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center">
                            <div class="site-branding flex-grow-1">
                                <a href="/Home/Index">
                                    <img class="logo-img" alt="Politicia" src="~/images/logo.png" />
                                </a>
                            </div>
                            <div class="site-navigation ml-auto">
                                <nav class="main-menu navbar-expand-xl navbar-light">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <i class="pbmit-base-icon-menu-1"></i>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="active">
                                                <a href="/Home/Index">होम </a>
                                            </li>
                                            <li>
                                                <a href="/Home/About">हमारे बारे में</a>
                                            </li>
                                            <li>
                                                <a href="/Home/Gallery">हमारी फोटो गैलरी</a>
                                            </li>
                                            <li>
                                                <a href="/Home/Events">आयोजन</a>
                                            </li>
                                            <li>
                                                <a href="/Home/NewsPressRelease">
                                                    समाचार और प्रेस विज्ञप्ति
                                                </a>
                                            </li>
                                            <li class="desktop_hide">
                                                <a href="/Home/Contact">
                                                    संपर्क करें
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="pbmit-right-box">
                                <div class="menu-right-box d-flex align-items-center">
                                    <div class="pbmit-header-button m-2">
                                        <a href="/Home/Contact">
                                            <span class="pbmit-header-button-text-1">संपर्क करें</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    @RenderBody()
    <!-- footer -->
    <footer class="footer site-footer">
        <div class="footer-wrap pbmit-footer-big-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="pbmit-footer-logo">
                            <img src="~/images/favicon.ico" alt="Surendra Chaurasia">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pbmit-footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="widget">
                            <h3 class="widget-title">
                                सुरेन्द्र चौरसिया जी
                            </h3>
                                <p style="font-size:19px;">सुरेन्द्र चौरसिया जी का जन्म 22 जुलाई 1989 को देवरिया जिले के ग्राम कुशहरी में एक साधारण परिवार में हुआ था। अखिल भारतीय विद्यार्थी परिषद से जुड़कर छात्र राजनीति की शुरुआत की और फिर उत्तर प्रदेश के मुख्यमंत्री योगी आदित्यनाथ के मार्गदर्शन में हिंदुत्व की विचारधारा को अपनाते हुए हिंदू युवा वाहिनी में शामिल हो गए।चैरसिया जी बहुत ही सरल स्वाभाव व्यक्तित्व के है। हर किसी के प्रति चौरसिया जी का व्यक्तित्व बहुत ही मिलनसार है। सुरेन्द्र चौरसिया जी वर्तमान में रामपुर कारखाना (देवरिया) जिले के विधायक है |</p>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="pbmit-two-widget">
                            <div class="widget">
                                <h3 class="widget-title">महत्वपूर्ण कड़ियाँ</h3>
                                <ul>
                                    <li><a href="/Home/AboutUs" class="text-white">हमारे बारे में</a></li>
                                    <li><a href="/Home/Gallery" class="text-white">हमारी फोटो गैलरी</a></li>
                                    <li><a href="/Home/Events" class="text-white">आयोजन</a></li>
                                    <li><a href="/Home/NewsPressRelease" class="text-white">समाचार और प्रेस विज्ञप्ति</a></li>
                                    <li><a href="/Home/Contact" class="text-white">संपर्क करें</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget-title">संपर्क करें</h3>
                            <div class="pbmit-contact-widget-lines">
                                <div class="pbmit-contact-widget">
                                    <i class="pbmit-base-icon-location"></i>
                                    <div class="pbmit-contact-widget-line">विधानसभा रामपुर कारखाना, देवरिया, उत्तर प्रदेश, भारत </div>
                                </div>
                                <div class="pbmit-contact-widget">
                                    <i class="pbmit-base-icon-phone"></i>
                                    <div class="pbmit-contact-widget-line">094507 78819</div>
                                </div>
                                <div class="pbmit-contact-widget">
                                    <i class="pbmit-base-icon-mail-alt"></i>
                                    <div class="pbmit-contact-widget-line">surendrachaurasia@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6 col-lg-3">
                        <div class="widget">
                            <h3 class="widget-title">इंस्टाग्राम</h3>

                            <div class="row g-2 mb-2">
                                <div class="col-md-4 col-sm-4">
                                    <img src="~/images/gallery/gallery-1.jpg" class="img-fluid w-100" alt="">
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <img src="~/images/gallery/gallery-2.jpg" class="img-fluid w-100" alt="">
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <img src="~/images/gallery/gallery-3.jpg" class="img-fluid w-100" alt="">
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-4 col-sm-4">
                                    <img src="~/images/gallery/gallery-4.jpg" class="img-fluid w-100" alt="">
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <img src="~/images/gallery/gallery-5.jpg" class="img-fluid w-100" alt="">
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <img src="~/images/gallery/gallery-1.jpg" class="img-fluid w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center mt-4 mb-4">
                        <h3 class="text-white">सामाजिक मीडिया</h3>
                    </div>
                    <div class="col-lg-6">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsurendra.chaurasia.104%3Fmibextid%3DZbWKwL&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <div class="col-lg-6">
                        <a class="twitter-timeline" data-height="600" href="https://twitter.com/mlasurendra?ref_src=twsrc%5Etfw">Tweets by mlasurendra</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                      <!-- <div class="col-lg-4">
                        <script src="/js/instagram.js" defer></script>
                      <div class="elfsight-app-7970e2ff-a4de-4aa9-89aa-915659103c9c"></div>
                         </div>
                        <div class="elfsight-app-7970e2ff-a4de-4aa9-89aa-915659103c9c" style="width:100%"></div>-->
                    </div>
                </div>
            </div>
            <div class="pbmit-footer-section">
                <div class="container">
                    <div class="pbmit-footer-text-inner">
                        <div class="pbmit-footer-copyright-box">
                            Copyright &copy; 2023 Surendra Chaurasia, All Rights Reserved.
                        </div>
                        <div class="pbmit-footer-copyright-box mt-sm-3">
                            <ul class="pbmit-social-links">
                                <li class="pbmit-social-li pbmit-social-facebook ">
                                    <a href="https://www.facebook.com/surendra.chaurasia.104/" target="_blank">
                                        <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                    </a>
                                </li>
                                <li class="pbmit-social-li pbmit-social-twitter ">
                                    <a href="https://twitter.com/mlasurendra" target="_blank">
                                        <span><i class="pbmit-base-icon-twitter"></i></span>
                                    </a>
                                </li>
                                <li class="pbmit-social-li pbmit-social-instagram ">
                                    <a href="https://www.instagram.com/surendradeoria1/" target="_blank">
                                        <span><i class="pbmit-base-icon-instagram"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- jquery Waypoints JS -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- jquery Appear JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Numinate JS -->
    <script src="~/js/numinate.min.js"></script>
    <!-- Slick JS -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Magnific JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Circle Progress JS -->
    <script src="~/js/circle-progress.js"></script>
    <!-- countdown JS -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- AOS -->
    <script src="~/js/aos.js"></script>
    <!-- Scripts JS -->
    <script src="~/js/scripts.js"></script>
    <!-- Revolution JS -->
    <script src="~/revolution/rslider.js"></script>
    <script src="~/revolution/rbtools.min.js"></script>
    <script src="~/revolution/rs6.min.js"></script>
</body>
</html>
