@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "PayoutRequest";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("PayoutRequest", "AssociateDashboard", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    
    <section class="section">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i data-feather="home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">Payout</li>
                <li class="breadcrumb-item">Payout Request</li>
            </ul>
        </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Payout Request</h4>
                    <p style="color: red">
                        @TempData["PayoutReq"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Balannce Amount</label>
                                <span class="form-bar" style="color:darkblue"><b>@ViewBag.Balance</b></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Amount <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Enter Amount", @onkeypress = "return isNumberOrDecimal(event);", @onchange = "return Check();" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <input class="btn btn-primary mr-1" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="Save" />

                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }


        return true;
    }
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
 }
</style>