@model RadhekunkInfra.Models.Tree

@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h4 class="m-b-10">Tree</h4>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->
                        <div class="card">

                            <div class="card-block">
                                <iframe id="frm" src="~/LevelTree.aspx" style="height:500px;border: 0px solid;width:100%"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

