@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "Index 2";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Cancellation Policy</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="pri-pad">
        <div class="container">
            <div class="property-wrap mb-20">
                <div class="ppt-list list-vw mb-30 featured">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="content-wrap">
                                <figure>
                                    <div class="sec-title icon-wrap">
                                        <h4>Refund & Cancellation Policy</h4>
                                    </div>
                                    <ol>
                                        <li>The applicant shall be liable/responsible for any payment made by him any third account and right created from there and company shall have no liability in this regards.</li>
                                        <li>This receipt is not transferable unless consented by the company.</li>
                                        <li>Please keep this document in safe custody and in case same is lost/misplaced please inform to company immediately with request letter,copy of FIR ,News Cutting and Affidavit.</li>
                                        <li>This money receipt is subject to realization of payment mode.</li>
                                        <li>On Plot cancellation 35% of the plot booking amount will be deducted as penalty.</li>
                                    </ol>
                                 </figure>
                              </div>
                            <!--content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--property wrap-->
</main>
<!--main-->
