@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">About Us</h3>
                </div>
            </div>
        </div>
    </div>
    <!--filter bar-->

    <section class="pri-pad">
        <div class="container">
            <div class="property-wrap mb-20">
                <div class="ppt-list list-vw mb-30 featured">
                    <div class="row">
                        @*<div class="col-md-5 col-sm-12">
                            <figure>
                                <a href="#" class="image-effect overlay">
                                    <img src="~/WebsiteCss/assets/images/gallery/trip2.jpg" alt="">
                                </a>
                            </figure>
                        </div>*@
                        <div class="col-sm-12">
                            <div class="content-wrap">
                                <figure>
                                    <div class="sec-title icon-wrap">
                                        <h4>WHO <span> WE ARE</span></h4>
                                    </div>

                                    <p>
                                        Shri Radhekunj infra-tech pvt ltd. is also known as Best Real Estate company in Allahabad. We have vast experience of over 10 years in real estate and conducting professional deals since year 2010. We have successfully served best property to our clients according to their needs in Allahabad area. Whether you want to buy or sell residential property, commercial property or plots in Allahabad we can advise you the best way to go about it.
                                    </p>
                                    </figure>
</div>
                            <!--content-->
                        </div>
                    </div>

                    <div class="row list-vw">
                        <div class="content-wrap">
                            <div class="col-sm-12">
                                <figure>
                                    <p>In the field of Real estate growth and the characteristic of advancement, excellent and stability has known as one of the best management in Top Real estate market. We make personal tasks across major places of India which are intended to become area represents of this region.</p>
                                    <p>Among the Real estate companies in India, Sri Radhey Kunj is one of the biggest real estate giants. It has built many state-of-the-art, high-quality buildings across the country, specifically in Uttar Pradesh. We are one of the most trusted real estate companies in Allahabad, Kaushambi, Jhalwa, Kalindipuram with breathtaking luxury properties in UP.</p>

                                </figure>
                            </div>
                            @*<div class="col-sm-4">
                                <figure>
                                    <img src="~/WebsiteCss/assets/images/gallery/gallery-21.jpg" alt="">
                                    </figure>
                              </div>*@
                            <div class="col-sm-12">
                                <figure>
                                    <p>Sri Radhey kunj is one of the largest real estate companies in Allahabad, with a well-diversified presence in both commercial and residential real estate development and has projects across the price spectrum from mid-income premium to the super luxury space.</p>
                                    <p>Our organization has always been competitive in forcing the limitations in Residential Plots and Property growth and has several real estate tasks to its credit which are recognized by their top excellent and the unique way in which they make an ideal and workplace atmosphere.</p>
                                    <p>SHRI RADHEY KUNJ real estate Team provides best solutions with the aid. Our extremely talented real estate professionals, which include financial consultants, legal specialists, corporate professionals etc. They have years of experience and vast knowledge of their field. Professionals in our team are well skilled and capable of manage work in an efficient and cost-effective manner.</p>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--property wrap-->
</main>
<!--main-->