@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<div class="banner banner2">
    <ul class="banner-slide">
        <li>
            <div class="banner-content">
                <div class="wrap">
                    <div class="inner text-white">
                        <div class="container">
                            <!----<div class="box">
                                <div class="price primary-color">
                                    $3,850
                                    <a href="#" class="view-more">View Details</a>
                                </div>
                                <!--price--

                                <h5 class="mb-5"><a href="#">15421 Southwest 39th Terrace</a></h5>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry has...
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--banner content-->

            <figure class="overlay overlay2">
                <img src="~/WebsiteCss/assets/images/banner-4.jpg" style="width:100%" alt="">
            </figure>
        </li>
        <!--singel banner-->

        <li>
            <div class="banner-content">
                <div class="wrap">
                    <div class="inner text-white">
                        <div class="container">
                        </div>
                    </div>
                </div>
            </div>
            <!--banner content-->

            <figure class="overlay overlay2">
                <img src="~/WebsiteCss/assets/images/banner-1.jpg" style="width:100%" alt="">
            </figure>
        </li>
        <!--singel banner-->

        <li>
            <div class="banner-content">
                <div class="wrap">
                    <div class="inner text-white">
                        <div class="container">
                        </div>
                    </div>
                </div>
            </div>
            <!--banner content-->

            <figure class="overlay overlay2">
                <img src="~/WebsiteCss/assets/images/banner-2.jpg" style="width:100%" alt="">
            </figure>
        </li>
        <!--singel banner-->
    </ul>
</div>
<!--banner-->

<main>
    <section class="intr pri-pad-b mt-5">
        <div class="container">
            <div class="row intro-content">
                <div class="col-md-7 col-sm-7">
                    <div class="content-wrap">
                        <h2>Easy buying & selling homes</h2>
                        <p>
                            Shri Radhekunj infra-tech pvt ltd. is also known as Best Real Estate company in Allahabad. We have vast experience of over 10 years in real estate and conducting professional deals since year 2010. 
                           
                        </p>
                        <p>We have successfully served best property to our clients according to their needs in Allahabad area. Whether you want to buy or sell residential property, commercial property or plots in Allahabad we can advise you the best way to go about it.</p>
                    </div>
                    <!--content-->

                    <a href="~/Website/CompanyProfile" class="btn btn-border btn-lg faa-parent animated-hover">
                        View More <i class="fa fa-long-arrow-right faa-passing"></i>
                    </a>
                </div>
                <div class="col-lg-5">
                    <img src="~/WebsiteCss/assets/images/1.jpg" style="width:100%" alt="">
                </div>
            </div>
            <!--intro content-->
        </div>
    </section>
    <!--intro-->

    <section class="featured-block featured-block-2 pri-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="main-title text-center">
                        <h2>Our Projects</h2>
                        @*<p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                        </p>*@
                    </div>
                </div>
            </div>
            <!--title-->

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/pd-2.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Prayagraj Dham City Phase- 2</a></h4>
                                <span>Jhalwa.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->

                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/pd-3.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Prayagraj Dham City Phase- 3</a></h4>
                                <span>Jhalwa.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->

                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/sv-1.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Sangam Vigar Phase - 1</a></h4>
                                <span>Near Birla Institute, Naini.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->

                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/sv-1.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Bhagwatpur Satwa</a></h4>
                                <span>Bhagwatpur.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->

                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/bp-1.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Barshana Phase 1</a></h4>
                                <span>Allahabad.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->

                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/av.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Aradhana Vihar</a></h4>
                                <span>Bilaspur .....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->
                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay"> 
                                <img src="~/WebsiteCss/assets/images/project/av-1.png" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Aradhana Vihar Phase - 1</a></h4>
                                <span>Manjhhanpur.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->
                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/mv.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Madhuvan Vihar</a></h4>
                                <span>Mander mode Bhagwatpur.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->
                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/av-2.png" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Aradhana Vihar Phase - 2</a></h4>
                                <span>Allahabad.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->
                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/kd.jpg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Kamadgiri Devangana Heritage City</a></h4>
                                <span>Near Bal Karagar Hanuman Dhara Road Karwi Chitrakoot.....</span>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->
                <div class="col-md-4 col-sm-4">
                    <div class="featured-wrap wrap mb-30">
                        <figure>
                            <a href="/Website/Residential" class="image-effect overlay">
                                <img src="~/WebsiteCss/assets/images/project/vh.jpeg" class="project-img" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap mb-0">
                            <div class="title-wrap mb-10">
                                <h4 class="mb-0"><a href="/Website/Residential">Vrindavan Haritage City</a></h4><br/>
                                <span>Bilaspur .....</span><br/><br/>
                            </div>
                        </div>
                        <!--content-->

                        <a href="/Website/Residential" class="btn btn-link faa-parent animated-hover">
                            View Details <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
                <!--single featured-->
            </div>
            <!--featred property wrap-->
        </div>
    </section>
    <!--featured property-->

    <section class="service-block">
        <div class="col-md-5 col-sm-5 p-0 image-wrap">
            <img src="~/Websitecss/assets/images/couple.jpg" alt="">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 pull-right right-block">
                    <div class="main-title text-center full">
                        <h2>Services we offer</h2>
                    </div>
                    <!--title-->

                    <ul class="service-list">
                        <li>
                            <span class="icon"><img src="~/Websitecss/assets/images/home-icon.png" alt=""></span>
                            <h5>Find properties </h5>
                            <p>Select property as per your preference</p>
                        </li>
                        <!--single service-->
                        
                        <li>
                            <span class="icon"><img src="~/Websitecss/assets/images/agent-icon.png" alt=""></span>
                            <h5>Meet Our Experts</h5>
                            <p>Visit our Office or Get a Consultant at your door step.</p>
                        </li>
                        <!--single service-->

                        <li>
                            <span class="icon"><img src="~/Websitecss/assets/images/list-icon.png" alt=""></span>
                            <h5>Site Visit</h5>
                            <p>Get site visit done with office assistance.</p>
                        </li>
                        <!--single service-->

                        <li>
                            <span class="icon"><img src="~/Websitecss/assets/images/rent-icon.png" alt=""></span>
                            <h5>Buy Property</h5>
                            <p>Purchase your property hassle free.</p>
                        </li>
                        <!--single service-->

                        <li>
                            <span class="icon"><img src="~/Websitecss/assets/images/loan.png" alt=""></span>
                            <h5>Loan Assistance</h5>
                            <p>Get Loan assistance from office.</p>
                        </li>

                        <!--single service-->
                        <li>
                            <span class="icon"><img src="~/Websitecss/assets/images/customer-service.png" alt=""></span>
                            <h5>Customer Support</h5>
                            <p>Always With You</p>
                        </li>
                        <!--single service-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--service block-->

    <section class="why-choose-us pri-pad pri-pad-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="main-title text-center">
                        <h2>Why Choose Us ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h5>1. Vast experience of 10 years</h5>
                    <p>SHRI RADHEY KUNJ have vast experience of over 10 years in real estate and conducting professional deals since year 2010. We have successfully served best property to our clients according to their needs in Allahabad area.</p>
                    <h5>2. Serve Best Property to Clients</h5>
                    <p>Shri Radheykunj has vast experience of over 10 years in real estate and conducting professional deals since year 2010.</p>
                    <br/>
                    <a href="/Website/ContactUs" class="btn btn-border btn-lg faa-parent animated-hover">
                        Contact Us <i class="fa fa-long-arrow-right faa-passing"></i>
                    </a>
                </div>
                <div class="col-sm-6">
                    <img src="~/Websitecss/assets/images/why-choose.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>
<!--main-->
