@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "Our Mission and Vision";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Our Vision & Mission</h3>
                </div>
            </div>
        </div>
    </div>

    <section class="pri-pad">
        <div class="container">
            <div class="property-wrap mb-20">
                <div class="ppt-list list-vw mb-30 featured">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <figure>
                                    <img src="~/WebsiteCss/assets/images/mission.png" style="height:200px;" alt="">
                                
                            </figure>
                            <!--fig-->
                        </div>
                        <div class="col-sm-8">
                            <div class="content-wrap">
                                <div class="sec-title icon-wrap">
                                    <h4>Our <span> Mission</span></h4>
                                </div>

                                <p>
                                    The mission of Shri Radhey Kunj Infratech Company is to prividean outstanding
                                    level of service and expertise in the real estate market
                                    that is innovative and ambition. The Shri Radhey Kunj Infratech Company
                                    dedicated to the highest standards systems and performance necessary to fulfill all of
                                    your real estate dreams.
                                </p>
                            </div>
                            <!--content-->
                        </div>
                    </div>

                    <div class="row list-vw">
                        <div class="col-sm-8">
                            <div class="content-wrap">
                                <figure>
                                    <div class="sec-title icon-wrap">
                                        <h4>Our <span> Vision</span></h4>
                                    </div>
                                    <p>
                                        The vision of Shri Radhey Kunj Infratech Company is to achieve
                                        the highest possible standards of the real estate market while
                                        establising our agency as the premier and prefered real estate
                                        company in the Allahabad and surrounding areas.
                                    </p>
                                </figure>
                                </div>
                            </div>
                        <div class="col-sm-4">
                            <figure>
                                <img src="~/WebsiteCss/assets/images/vision-1.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--property wrap-->
</main>
<!--main-->