@{
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Aradhana Vihar</h3>
                </div>
            </div>
        </div>
    </div>
    <section class="pri-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 property-single left-block">
                     
                    <div class="box mb-40 requtest-form table-responsive" style="width:100%">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Phase</th>
                                    <th>Plot No.</th>
                                    <th>Plot Size</th>
                                    <th>Park Facing</th>
                                    <th>Corner</th>
                                    <th>Availability Status</th>
                                    <th>Book</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>5A</td>
                                    <td>45/100</td>
                                    <td>No</td>
                                    <td>No</td>
                                    <td>Booked</td>
                                    <td>Booked</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--left block-->

                <div class="col-sm-4 left-block ppt-info sidebar">
                    <div class="box border">
                        <div class="box-title">
                            <h6 class="mb-0 lh-normal text-white">Property Informations</h6>
                        </div>
                        <div class="detail info">
                            <ul>
                                <li>Project Name <span>Aradhana Vihar </span></li>
                                <li>Project Type <span>Residential Apartments</span> </li>
                                <li>Location <span>Bilaspur</span> </li>
                                <li>State  <span>Uttar Pradesh</span> </li>
                                <li>Park Facing <span>10% </span></li>
                                <li>Corner  <span>10% </span> </li>
                                <li>Total Plot <span>6</span> </li>
                                <li>Available Plot <span>4</span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--sidebar-->
            </div>
        </div>
    </section>
    <!--property wrap-->
</main>
<!--main-->
