@{
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Sign Up</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container pri-pad">
        <h3 class="mb-30">SHRIRADHEYKUNJ SIGN UP FORM</h3>
        <form action="#" class="property-submit">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Name</label>
                    <input type="text">
                </div>
                <!--title-->

                <div class="form-group select col-sm-4 mb-30">
                    <label>Husband/ Father's Name</label>
                    <input type="text">
                </div>
                <!--type-->

                <div class="form-group select col-sm-4 mb-30">
                    <label>Mobile No.</label>
                    <input type="number">
                </div>
                <!--status-->

                
                <div class="form-group col-sm-4 mb-30">
                    <label>Date OF Birth</label>
                    <input type="date">
                </div>
                <!--price-->

                <div class="form-group col-sm-4 mb-30">
                    <label>Adhaar Number</label>
                    <input type="number">
                </div>
                <!--prefix-->

                <div class="form-group col-sm-4 mb-30">
                    <label>Pan Number</label>
                    <input type="number">
                </div>
                <!--after price-->

                <div class="form-group select col-sm-4 mb-30">
                    <label>Rank</label>
                    <select>
                        <option value="">Select Rank</option>
                        <option value="Sales Executive">Sales Executive</option>
                        <option value="Sales Supervisor">Sales Supervisor</option>
                        <option value="Area Sales Manager">Area Sales Manager</option>
                        <option value="Sales Manager">Sales Manager</option>
                        <option value="Silver Club">Silver Club</option>
                        <option value="Gold Club">Gold Club</option>
                        <option value="Platinum Club">Platinum Club</option>
                        <option value="Diamond Club">Diamond Club</option>
                        <option value="Royalty Club">Royalty Club</option>
                    </select>
                </div>
                <div class="form-group col-sm-4 mb-30">
                    <label>PIN</label>
                    <input type="number">
                </div>
                <div class="form-group col-sm-4 mb-30">
                    <label>Sponsor ID</label>
                    <input type="text">
                </div>
                <div class="form-group col-sm-6 mb-30">
                    <label>Sponsor Name</label>
                    <input type="text">
                </div>
                <div class="form-group col-sm-6 mb-30">
                    <label>Email Address</label>
                    <input type="email">
                </div>
            </div>
            <!--property description-->

            <div class="row mb-55">
                <div class="form-group col-sm-12 mb-30">
                    <label>Address</label>
                    <textarea></textarea>
                </div>
                <div class="form-group col-sm-12 mb-30">
                    <label>Upload Aadhar</label>
                    <div class="gallery-box text-center">
                        <p> <i class="fa fa-cloud-upload"></i> Drag and drop images here</p>

                        <span class="or">OR</span>

                        <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                        <label for="file-1"><span class="btn btn-lg">Select Image</span></label>
                    </div>
                </div>
                <!--gallery image-->
                <div class="form-group col-sm-12 mb-30">
                    <label>Upload Pan</label>
                    <div class="gallery-box text-center">
                        <p> <i class="fa fa-cloud-upload"></i> Drag and drop images here</p>

                        <span class="or">OR</span>

                        <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                        <label for="file-1"><span class="btn btn-lg">Select Image</span></label>
                    </div>
                </div>
                <!--gallery image-->
                <div class="form-group col-sm-12 mb-30">
                    <label>Upload photo</label>
                    <div class="gallery-box text-center">
                        <p> <i class="fa fa-cloud-upload"></i> Drag and drop images here</p>

                        <span class="or">OR</span>

                        <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                        <label for="file-1"><span class="btn btn-lg">Select Image</span></label>
                    </div>
                </div>
                <!--gallery image-->
            </div>

            <a href="#" class="btn btn-sucess btn-lg shadow faa-parent animated-hover">
                Submit <i class="fa fa-long-arrow-right faa-passing"></i>
            </a>
        </form>
    </div>
</main>
<!--main-->
