@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "OurBankDetails";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Our Team</h3>
                </div>
            </div>
        </div>
    </div>
    <section class="agent-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 property-single left-block">
                    <h2 class="lh-normal mb-40">Our Management</h2>
                    <div class="row agent-list-wrap mb-20">
                        <div class="col-sm-3 mb-30">
                            <div class="agent-list gd-vw">
                                <figure>
                                    <span class="tag primary-bg text-white">C.M.D</span>
                                    <a href="#" class="image-effect"><img src="~/WebsiteCss/assets/images/agent1.jpg" alt=""></a>
                                </figure>

                                <div class="content-wrap">
                                    <h6>
                                        <a href="#">Mr. Ramkirtan Tiwari</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <!--singel agent-->

                        <div class="col-sm-3 mb-30">
                            <div class="agent-list gd-vw">
                                <figure>
                                    <span class="tag primary-bg text-white">Director</span>
                                    <a href="#" class="image-effect"><img src="~/WebsiteCss/assets/images/agent4.jpg" alt=""></a>
                                </figure>

                                <div class="content-wrap">
                                    <h6>
                                        <a href="#">Mr. Akhileshwar Mishra</a>
                                    </h6>
                                </div>
                                <!--content-->
                            </div>
                        </div>
                        <!--singel agent-->
                        <div class="col-sm-12 mb-30">
                            <h3>Our Leaders</h3>
                        </div>
                        @*<div class="col-sm-3 mb-30">
                            <div class="agent-list gd-vw">
                                <figure>
                                    <span class="tag primary-bg text-white">Achiever</span>
                                    <a href="#" class="image-effect"><img src="~/WebsiteCss/assets/images/agent3.jpg" alt=""></a>
                                </figure>

                                <div class="content-wrap">
                                    <h5>
                                        <a href="#">Mr. Suresh Tripathi</a>
                                    </h5>
                                </div>
                            </div>
                        </div>*@
                        <!--singel agent-->

                        @*<div class="col-sm-3 mb-30">
                            <div class="agent-list gd-vw">
                                <figure>
                                    <span class="tag primary-bg text-white">Achiever</span>
                                    <a href="#" class="image-effect"><img src="~/WebsiteCss/assets/images/agent4.jpg" alt=""></a>
                                </figure>

                                <div class="content-wrap">
                                    <h6>
                                        <a href="#">Mrs. Lakshmi Pandey</a>
                                    </h6>
                                </div>
                            </div>
                        </div>*@
                        <!--singel agent-->


                        @*<div class="col-sm-3 mb-30">
                            <div class="agent-list gd-vw">
                                <figure>
                                    <span class="tag primary-bg text-white">Achiever</span>
                                    <a href="#" class="image-effect"><img src="~/WebsiteCss/assets/images/agent5.jpg" alt=""></a>
                                </figure>

                                <div class="content-wrap">
                                    <h6>
                                        <a href="#">Mr. Veenu Pathak</a>
                                    </h6>
                                </div>
                            </div>
                        </div>*@
                        <!--singel agent-->

                        @*<div class="col-sm-3 mb-30">
                            <div class="agent-list gd-vw">
                                <figure>
                                    <span class="tag primary-bg text-white">Achiever</span>
                                    <a href="#" class="image-effect"><img src="~/WebsiteCss/assets/images/agent6.jpg" alt=""></a>
                                </figure>

                                <div class="content-wrap">
                                    <h6>
                                        <a href="#">Mr Kavi Shankar Pandey</a>
                                    </h6>
                                </div>
                            </div>
                        </div>*@
                        <!--single agent-->
                    </div>
                    <!--agent wrap-->
                </div>
                <!--left block-->
            </div>
        </div>
    </section>
    <!--property wrap-->
</main>
<!--main-->