@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "ProVillasDetails";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Trip</h3>
                </div>
            </div>
        </div>
    </div>
   
</main>
<div class="container" style="margin:50px 0px 0px 0">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
            <h2 class="text-center">Goa Trip</h2>
        </div>
    </div>
</div>
    <div class="photo-gallery">
        <div class="container">
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-4 item">
                  <a href="~/WebsiteCss/assets/images/gallery/trip-1.jpg" data-lightbox="photos">
                    <img class="img-fluid gallery-img" src="~/WebsiteCss/assets/images/gallery/trip-1.jpg">
                  </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 item">
                  <a href="~/WebsiteCss/assets/images/gallery/trip-2.jpg" data-lightbox="photos">
                    <img class="img-fluid gallery-img" src="~/WebsiteCss/assets/images/gallery/trip-2.jpg">
                  </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 item">
                  <a href="~/WebsiteCss/assets/images/gallery/trip-3.jpg" data-lightbox="photos">
                    <img class="img-fluid gallery-img" src="~/WebsiteCss/assets/images/gallery/trip-3.jpg">
                  </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 item">
                  <a href="~/WebsiteCss/assets/images/gallery/trip-4.jpg" data-lightbox="photos">
                    <img class="img-fluid gallery-img" src="~/WebsiteCss/assets/images/gallery/trip-4.jpg">
                  </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 item">
                    <a href="~/WebsiteCss/assets/images/gallery/trip-5.jpg" data-lightbox="photos">
                        <img class="img-fluid gallery-img" src="~/WebsiteCss/assets/images/gallery/trip-5.jpg">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 item">
                    <a href="~/WebsiteCss/assets/images/gallery/trip-6.jpg" data-lightbox="photos">
                        <img class="img-fluid gallery-img" src="~/WebsiteCss/assets/images/gallery/trip-6.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
