@model RadhekunkInfra.Models.Website

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<main>
    <div class="filter-bar filter-bar-2 primary-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="text-white text-center">Our Winner List</h3>
                </div>
            </div>
        </div>
    </div>
    <section class="pri-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 property-single left-block">
                    <div class="box border agent-box  bg-dark">
                        <h4 class="title mb-20 text-white">Associate Name</h4>
                        <div class="wrap">
                            <figure><img src="~/websitecss/assets/images/box-agent.jpg" alt=""></figure>
                            <div class="content-wrap mb-0 text-white">
                                <ul class="info">
                                    <li>Associate Id : No Winner</li>
                                    <li>Associate Rank : No Winner</li>
                                    <li>Associate Name : No Winner</li>
                                    <li>Associate Prize : No Winner</li>
                                </ul>

                                <ul class="social-icons">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram "></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--agent detail-->
                </div>
                <!--left block-->
            </div>
        </div>
    </section>
    <!--property wrap-->
</main>
<!--main-->