@model PoliticalWebsite.Models.Master

@{
    ViewBag.Title = "GalleryimageList";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}



<form action="/Master/GalleryimageList" id="form1" method="post">
    <p style="color: red">
        <span style="color:red">@TempData["msg"]</span>
    </p>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- HTML5 Export Buttons table start -->
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h4>Gallery Image List</h4>
                                    <a class="btn btn-primary btn-sm" href="/Master/AddGallery"><i class="mdi mdi-plus-circle-outline"></i> Add Banner</a>
                                </div>
                                <div class="card-body">
                                    <div class="dt-responsive table-responsive">
                                        <table id="order-listing" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Image</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.lstgallery != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.lstgallery)
                                                        {
                                                            <tr>
                                                                <td>@i</td>
                                                                <td>
                                                                    <img src=@Html.DisplayFor(m => Item.GalleryImage) alt="Image" style="width:100px;height:80px;border-radius:0px" />
                                                                </td>

                                                                <td>@Item.Discription</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-info" href="/Master/AddGallery?Id=@Item.Pk_GalleryId">Edit</a>
                                                                    <a class="btn btn-sm btn-danger" href="/Master/DeleteGalleryBanner?Id=@Item.Pk_GalleryId" onclick="return confirm('Are you sure you want to delete banner image ?')">Delete</a>
                                                                </td>
                                                            </tr>
                                                            i = i + 1;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


