@model RadhekunkInfra.Models.Expenses

@{
    ViewBag.Title = "AddExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddExpense", "Expense", FormMethod.Post, new { @id = "form1", @autocomplete = "off", enctype = "multipart/form-data" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Expense Management</li>
            <li class="breadcrumb-item">Add Expense</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Add Expense</h4>

                    <p style="color: red">
                        @TempData["MsgExpense"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-12 col-lg-12">
                            Expense Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.ExpenseName, new { @class = "form-control", @placeholder = "Expense Name" })
                            @Html.HiddenFor(m => m.Pk_ExpenseId)
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-md-12 col-lg-12">
                            @if (Model.EncryptKey == null)
                            {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            }
                            else
                            {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                            }

                            <a class="btn btn-info" href="/Expense/ExpenseList" style="margin-left:5px;">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#ExpenseName').val() == '') {
            $("#ExpenseName").addClass('errortext');
            $('#ExpenseName').focus();
            return false;
        }
      
        $("#divload").css({ 'display': '' });
        return true;
    }
</script>