@model RadhekunkInfra.Models.Home

@{
    Layout = null;
}


<link href="../../AssociatePanelcss/assets/css/style-darkblue-dark.css" rel="stylesheet">

<link href="../../WebsiteCss/css/bootstrap.css" rel="stylesheet">
<link href="../../WebsiteCss/css/style.css" rel="stylesheet">
<link href="../../WebsiteCss/css/responsive.css" rel="stylesheet">
<!--Color Switcher Mockup-->
<link href="../../WebsiteCss/css/color-switcher-design.css" rel="stylesheet">
<!--Color Themes-->
<link id="theme-color-file" href="../../WebsiteCss/css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
<link rel="icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
<body class="login-section">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="dashboard1" style="padding-top:14px;">
                        <img src="../../AssociatePanelcss/assets/img/radhekunj.png" class="img-fluid" alt="logo1" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    @*<div class="dashboard2">
                        <img src="../../AssociatePanelcss/assets/img/blossom.png" class="img-fluid" alt="logo2" />
                    </div>*@
                </div>
            </div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-lg-12 col-md-12 col-sm-12">
                    <h2 class="text-center">Login</h2>
                    <!-- Login Form -->
                    <div class="login-form">
                        <!--Login Form-->
                        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "signupForm" }))
                        {
                            <div class="form-group" style="border: 1px solid;color:#1669ea">

                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @required = "required" })
                            </div>
                            <div style="margin-bottom:10px; ">OR</div>
                            <div class="form-group">


                                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return validNumber(event);" })


                            </div>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="form-group no-margin">
                                        <p style="color:red"> @TempData["ForgotPassword"] </p>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="form-group no-margin">
                                        <a class="theme-btn btn-style-one" href="/Home/Login/">Back To Login</a>
                                        @*  <input type="submit" id="Login" class="theme-btn btn-style-one" name="Login" value="Sign In">*@
                                        <input type="button" id="GetOtp" class="theme-btn btn-style-one" name="GetOtp" value="Get Password" onclick="return sendOTP();" />

                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <!--End Login Form -->
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="../../WebsiteCss/js/popper.min.js"></script>
<script src="../../WebsiteCss/js/bootstrap.min.js"></script>
<script src="../../WebsiteCss/js/jquery.fancybox.js"></script>
<script src="../../WebsiteCss/js/owl.js"></script>
<script src="../../WebsiteCss/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../WebsiteCss/js/wow.js"></script>
<script src="../../WebsiteCss/js/appear.js"></script>
<script src="../../WebsiteCss/js/mixitup.js"></script>
<script src="../../WebsiteCss/js/script.js"></script>
<!-- Color Setting -->
<script src="../../WebsiteCss/js/color-settings.js"></script>
<!--Clients Section-->

<script>

    function sendOTP() {
        $(".errortext").removeClass("errortext");

        if ($('#LoginId').val() == '' && $('#MobileNo').val() == '') {
            alert('Please Enter Login Id or Mobile No');
            return false;
        }

        $.ajax({
            url: "/Home/GetPassword",
            Type: "Get",
            DataType: "JSON",
            data: {  LoginId: $("#LoginId").val(), MobileNo: $("#MobileNo").val() },
            success: function (data) {
                if (data.Response == "1") {
                   // $("#UserType").val(data.UserType)
                    $("#LoginId").val(data.LoginId);
                    $("#MobileNo").val(data.MobileNo);
                    $("#LoginId").val('');
                    $('#MobileNo').val('');
                    alert("OTP is sent on your registered mobile no.");
                }
                else {
                    $("#divOTP").hide();
                    $("#divSubmit").hide();
                    alert(data.Status1);
                    $("#LoginId").val('');
                    $('#MobileNo').val('');
                }
            }
        });
    }

    function validateOTP() {
        $(".errortext").removeClass("errortext");
        if ($('#OTP').val() == '') {
            $("#OTP").addClass('errortext');
            $('#OTP').focus();
            return false;
        }

        if ($("#OTP").val() == $("#hdOTP").val()) {
            $.ajax({
                url: "/Home/GetPassword",
                Type: "Get",
                DataType: "JSON",
                data: {LoginId: $("#LoginId").val(), MobileNo: $("#MobileNo").val() },
                success: function (data) {
                    if (data.Response == "1") {
                        alert("Password is sent on your registered mobile no.");
                        $("#divOTP").hide();
                        $("#divSubmit").hide();
                        $("#UserType").val('');
                        $("#LoginId").val('');
                        $("#MobileNo").val('');
                        $("#divlogipbtn").show();
                        $("#UserTypediv").show();
                        $("#LoginIddiv").show();
                        $("#MobileNodiv").show();
                        $("#divotpbtn").show();
                        $("#divlogipbtn").show();
                   //     $("#UserType").val(data.UserType);
                    }
                    else {
                        alert(data.Response);
                    }
                }
            });
        }
        else {
            alert("Invalid OTP..");
            $("#OTP").focus();
            $("#OTP").val('');
        }
    }

    function validNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 45) {
            return true;
        } else if (key < 48 || key > 57) {
            return false;
        } else {
            return true;
        }
    }
</script>