@model RadhekunkInfra.Models.Home

@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Forget Password</title>
    <link rel="shortcut icon" href="~/WebsiteCss/assets/images/favicon.png" type="image/x-icon">
    <link rel='shortcut icon' type='image/x-icon' href="/AssociatePanelcss/assets/img/logo.png" />
    <link href="../../WebsiteCss/css/bootstrap.css" rel="stylesheet">
    <link href="../../WebsiteCss/assets/css/custom-style.css" rel="stylesheet">
</head>
<body>
<section class="h-100 gradient-form">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
                <div class="card text-black rounded-3">
                    <div class="row g-0">
                        <div class="col-lg-5 offset-1 d-flex align-items-center">
                            <img src="~/WebsiteCss/assets/images/side_logo.png" style="height:250px;" class="img-fluid login-img" />
                        </div>
                        <div class="col-lg-6 gradient-custom-2" style="border-radius:0px 40px 40px 0">
                            <div class="card-body mx-md-4">
                                <div class="text-center">
                                   <h5 class="mt-3 mb-5 pb-1">Please login to your account</h5>
                                </div>
                                <p style="color:red"> @TempData["ForgotPassword"] </p>
                                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "signupForm" }))
                                {
                                    <div class="form-outline mb-1">
                                        <label class="form-label" for="form2Example11">Enter your login id</label>
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @required = "required" })

                                    </div>
                                    <center><p style="margin:0px">Or</p></center>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Enter your mobile no.</label>
                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Placeholder = "Mobile No", @maxlength = "10", @onkeypress = "return validNumber(event);" })
                                    </div>

                                    <div class="text-center pt-1 mb-5">
                                        <input type="button" id="GetOtp" class="text-white btn btn-block btn-login fa-lg btn-bg mb-3 p-3" name="GetOtp" value="Get Password" onclick="return sendOTP();" />
                                       
                                        <a class="text-muted" href="/Home/Login/">Back To Login</a>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <script src="../../WebsiteCss/js/jquery.js"></script>
    <script src="../../WebsiteCss/js/popper.min.js"></script>
    <script src="../../WebsiteCss/js/bootstrap.min.js"></script>
    <script src="../../WebsiteCss/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../WebsiteCss/assets/js/script.js"></script>
    <!--Clients Section-->

<script>

    function sendOTP() {
        $(".errortext").removeClass("errortext");

        if ($('#LoginId').val() == '' && $('#MobileNo').val() == '') {
            alert('Please Enter Login Id or Mobile No');
            return false;
        }

        $.ajax({
            url: "/Home/GetPassword",
            Type: "Get",
            DataType: "JSON",
            data: { LoginId: $("#LoginId").val(), MobileNo: $("#MobileNo").val() },
            success: function (data) {
                if (data.Response == "1") {
                    // $("#UserType").val(data.UserType)
                    $("#LoginId").val(data.LoginId);
                    $("#MobileNo").val(data.MobileNo);
                    $("#LoginId").val('');
                    $('#MobileNo').val('');
                    alert("OTP is sent on your registered mobile no.");
                }
                else {
                    $("#divOTP").hide();
                    $("#divSubmit").hide();
                    alert(data.Status1);
                    $("#LoginId").val('');
                    $('#MobileNo').val('');
                }
            }
        });
    }

    function validateOTP() {
        $(".errortext").removeClass("errortext");
        if ($('#OTP').val() == '') {
            $("#OTP").addClass('errortext');
            $('#OTP').focus();
            return false;
        }

        if ($("#OTP").val() == $("#hdOTP").val()) {
            $.ajax({
                url: "/Home/GetPassword",
                Type: "Get",
                DataType: "JSON",
                data: { LoginId: $("#LoginId").val(), MobileNo: $("#MobileNo").val() },
                success: function (data) {
                    if (data.Response == "1") {
                        alert("Password is sent on your registered mobile no.");
                        $("#divOTP").hide();
                        $("#divSubmit").hide();
                        $("#UserType").val('');
                        $("#LoginId").val('');
                        $("#MobileNo").val('');
                        $("#divlogipbtn").show();
                        $("#UserTypediv").show();
                        $("#LoginIddiv").show();
                        $("#MobileNodiv").show();
                        $("#divotpbtn").show();
                        $("#divlogipbtn").show();
                        //     $("#UserType").val(data.UserType);
                    }
                    else {
                        alert(data.Response);
                    }
                }
            });
        }
        else {
            alert("Invalid OTP..");
            $("#OTP").focus();
            $("#OTP").val('');
        }
    }

    function validNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 45) {
            return true;
        } else if (key < 48 || key > 57) {
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>