@model PoliticalWebsite.Models.Home

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

 <!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Title Bar -->
    <div class="pbmit-title-bar-wrapper">
        <div class="container">
            <div class="pbmit-title-bar-content">
                <div class="pbmit-title-bar-content-inner">
                    <div class="pbmit-tbar">
                        <div class="pbmit-tbar-inner container">
                            <h1 class="pbmit-tbar-title">आयोजन</h1>
                        </div>
                    </div>
                    <div class="pbmit-breadcrumb">
                        <div class="pbmit-breadcrumb-inner">
                            <span><a title="" href="/Home/Index" class="home"><span>होम</span></a></span>
                            <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                            <span><span class="post-root post post-post current-item">हमारा आयोजन</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title Bar End-->
    <!-- Page Content -->
    <div class="page-content">

        <!-- Future Start -->
        <section class="section-lgb pbmit-bg-color-light">
            <div class="container">
                <div class="pbmit-heading-subheading text-center pt-5">
                    <h2 class="pbmit-title">हमारे राजनीतिक भविष्य में भाग लें</h2>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <div class="wpem-event-action-url event-style-color tour">
                            <div class="wpem-event-banner">
                                <div class="wpem-event-banner-img"
                                     style="background-image: url('/images/recent-post/event-1.jpg')">
                                    <div class="wpem-event-date">
                                        <div class="wpem-event-date-type">
                                            <div class="wpem-from-date">
                                                <div class="wpem-date">29</div>
                                                <div class="wpem-month">Jul</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpem-event-infomation">
                                <div class="wpem-event-date">
                                    <div class="wpem-event-date-type">
                                        <div class="wpem-from-date">
                                            <div class="wpem-date">29</div>
                                            <div class="wpem-month">Jul</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpem-event-details">
                                    <div class="wpem-event-title">
                                        <h3 class="wpem-heading-text">
                                            <a href="#">आज शिवरात्रि के अवसर पर बैकुण्ठपुर शिव मंदिर पर आयोजित कुश्ती/दंगल में बतौर मुख्यातिथि सम्मिलित होकर खिलाड़ियों का उत्साह वर्धन किया।</a>
                                        </h3>
                                    </div>
                                    <div class="pbmit-event-meta">
                                        <div class="wpem-event-location">
                                            <span class="wpem-event-location-text">Deoria, Uttar Pradesh</span>
                                        </div>
                                        <div class="wpem-event-date-time">
                                            <span class="wpem-event-date-time-text">2021-07-29</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pbmit-event-arrow-link">
                                <a href="#" class="event-style-color tour"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="wpem-event-action-url event-style-color tour">
                            <div class="wpem-event-banner">
                                <div class="wpem-event-banner-img"
                                     style="background-image: url('/images/recent-post/event-2.jpg')">
                                    <div class="wpem-event-date">
                                        <div class="wpem-event-date-type">
                                            <div class="wpem-from-date">
                                                <div class="wpem-date">29</div>
                                                <div class="wpem-month">Jul</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpem-event-infomation">
                                <div class="wpem-event-date">
                                    <div class="wpem-event-date-type">
                                        <div class="wpem-from-date">
                                            <div class="wpem-date">29</div>
                                            <div class="wpem-month">Jul</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpem-event-details">
                                    <div class="wpem-event-title">
                                        <h3 class="wpem-heading-text">
                                            <a href="#">आज शिवरात्रि के शुभ अवसर पर रामपुर कारख़ाना नगर में शिव बारात में सम्मिलित होकर आशीर्वाद प्राप्त किया।</a>
                                        </h3>
                                    </div>
                                    <div class="pbmit-event-meta">
                                        <div class="wpem-event-location">
                                            <span class="wpem-event-location-text">Deoria, Uttar Pradesh</span>
                                        </div>
                                        <div class="wpem-event-date-time">
                                            <span class="wpem-event-date-time-text"> 2018-01-18</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pbmit-event-arrow-link">
                                <a href="#" class="event-style-color tour"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <div class="wpem-event-action-url event-style-color tour">
                            <div class="wpem-event-banner">
                                <div class="wpem-event-banner-img"
                                     style="background-image: url('/images/recent-post/event-3.jpg')">
                                    <div class="wpem-event-date">
                                        <div class="wpem-event-date-type">
                                            <div class="wpem-from-date">
                                                <div class="wpem-date">29</div>
                                                <div class="wpem-month">Jul</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpem-event-infomation">
                                <div class="wpem-event-date">
                                    <div class="wpem-event-date-type">
                                        <div class="wpem-from-date">
                                            <div class="wpem-date">29</div>
                                            <div class="wpem-month">Jul</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpem-event-details">
                                    <div class="wpem-event-title">
                                        <h3 class="wpem-heading-text">
                                            <a href="#">आज विधानसभा क्षेत्र के विभिन्न मांगलिक कार्यक्रम में सम्मिलित रहा।</a>
                                        </h3>
                                    </div>
                                    <div class="pbmit-event-meta">
                                        <div class="wpem-event-location">
                                            <span class="wpem-event-location-text">Deoria, Uttar Pradesh</span>
                                        </div>
                                        <div class="wpem-event-date-time">
                                            <span class="wpem-event-date-time-text">2018-04-22</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pbmit-event-arrow-link">
                                <a href="#" class="event-style-color tour"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="wpem-event-action-url event-style-color tour">
                            <div class="wpem-event-banner">
                                <div class="wpem-event-banner-img"
                                     style="background-image: url('/images/recent-post/event-4.jpg')">
                                    <div class="wpem-event-date">
                                        <div class="wpem-event-date-type">
                                            <div class="wpem-from-date">
                                                <div class="wpem-date">29</div>
                                                <div class="wpem-month">Jul</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpem-event-infomation">
                                <div class="wpem-event-date">
                                    <div class="wpem-event-date-type">
                                        <div class="wpem-from-date">
                                            <div class="wpem-date">29</div>
                                            <div class="wpem-month">Jul</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpem-event-details">
                                    <div class="wpem-event-title">
                                        <h3 class="wpem-heading-text">
                                            <a href="#">पूर्व मंत्री स्वर्गीय दुर्गा प्रसाद मिश्र जी के पुण्य तिथि के अवसर पर उनके पैतृक गाँव बगुची पहुँचकर उन्हें श्रद्धा सुमन सुमन अर्पित किया।</a>
                                        </h3>
                                    </div>
                                    <div class="pbmit-event-meta">
                                        <div class="wpem-event-location">
                                            <span class="wpem-event-location-text">Deoria, Uttar Pradesh</span>
                                        </div>
                                        <div class="wpem-event-date-time">
                                            <span class="wpem-event-date-time-text"> 2019-01-16</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pbmit-event-arrow-link">
                                <a href="#" class="event-style-color tour"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Future End -->

    </div>
    <!-- Page Content End -->

</div>
<!-- Page Wrapper End -->

