@model RadhekunkInfra.Models.DashBoard

@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
}
<html lang="en">
<body class="nav-md">
    @using (Html.BeginForm("EmployeeDashboard", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <section class="section">
            <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                    <a href="/AssociateDashboard/AssociateDashboard" class="nav-link">
                        <i data-feather="home"></i>
                    </a>
                    @*<a href="index.html">
                            <i data-feather="home"></i>
                        </a>*@
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="dashboard1" style="padding-top:14px;">
                        <img src="../../AssociatePanelcss/assets/img/radhekunj.png" class="img-fluid" alt="logo1" />
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    @*<div class="dashboard2">
                        <img src="../../AssociatePanelcss/assets/img/blossom.png" class="img-fluid" alt="logo2" />
                    </div>*@
                </div>
            </div>
        </section>
    }
</body>
</html>
