@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "BranchList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("BranchList", "Master", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Branch List</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Branch List</h4>

                <p style="color: red">
                    @TempData["Branch"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                            <div class="card-header table-card-header">
                                <a class="btn btn-primary btn-sm" style="margin-left:76%;margin-top:5px;" href="/Master/BranchMaster">Add New</a>
                            </div>
                            <div class="card-block">
                                <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Branch Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstBlock1 != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstBlock1)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@Item.BranchName</td>

                                                        <td>
                                                            <a href="/Master/BranchMaster?BranchID=@Item.EncryptKey" class="btn btn-info btn-sm">Edit</a>
                                                            <a href="/Master/DeleteBranch?id=@Item.BranchID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this Branch?');">Delete</a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }


                                            }
                                        }

                                    </tbody>

                                </table>

                                </div>
                            </div>
                      
                    </div>
                </div>
            </div>
        </div>
}
