
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <title>Shri Radheykunj | Top 10 & Best Real Estate Company in Allahabad(Prayagraj) | Jhalwa | Kaushambi | Kalindipuram</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/WebsiteCss/assets/images/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="~/WebsiteCss/assets/images/favicon.png" />


    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/font-awesome-animation.min.css">
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/ekko-lightbox.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/font.css" />

    <!-- Main css -->
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/responsive.css" />

    <!-- color skin -->
    <link rel="stylesheet" type="text/css" href="~/WebsiteCss/assets/css/color-skin/default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    
</head>
<body>
    <header class="style2">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8 header-info">
                        <span class="hidden-xs text-white">
                            <i class="fa fa-map-marker"></i>
                            L-12-303, Budh Vihar Colony
                            Dev Ghat Jhalwa Allahabad - 211016 U.P. INDIA.
                        </span>

                        <span class="visible-xs"> <a href="#" class="text-white">Shri Radheykunj Infratech Pvt. Ltd.</a> </span>
                    </div>
                    <!--left-->

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <ul class="header-links pull-right">
                            <li><a href="~/Home/login" class="modal-login" style="color:white">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--header top-->

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="~/Website/Index">
                        <img src="~/WebsiteCss/assets/images/radhekunj_logo.png" alt="" class="logo1">
                        <img src="~/WebsiteCss/assets/images/radhekunj_logo.png" alt="" class="logo2">
                    </a>
                </div>
                <!-- button -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="current-menu-item">
                            <a href="~/Website/Index">Home</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">About Us<span class="caret"></span></a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="~/Website/CompanyProfile">Company Profile</a></li>
                                <li><a href="~/Website/OurMission">Our Mission</a></li>
                                <li><a href="~/Website/Team">Management Team</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Projects<span class="caret"></span></a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="~/Website/Residential">Residential</a></li>
                                <li><a href="~/Website/Availibility">Availibility</a></li>
                                <li><a href="~/Website/Layout">Layouts</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Pages<span class="caret"></span></a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="~/Website/Trip">Trip</a></li>
                                <li><a href="~/Website/Winner">Winner</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="~/Website/EventGallery">Events & Gallery</a>
                        </li>

                        <li>
                            <a href="~/Website/ContactUs">Contact Us</a>
                        </li>

                        <li class="nav-btn">
                            <a href="tel:917317767707" class="contact-btn"><i class="fa fa-phone"></i> +91 7317767707 </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!--header-->
    @RenderBody()
    
    <footer>
        <div class="footer-top pri-pad">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 left-block">
                        <a href="/Website/Index"><img src="~/WebsiteCss/assets/images/radhekunj_logo.png" alt=""></a>
                        <div class="content-wrap mb-30">
                            <p>
                                SHRI RADHEYKUNJ INFRA-TECH PVT. LTD. the major name in the Best Real Estate
                                 Company in Allahabad growth and the characteristic of advancement, excellent and stability.
                            </p>
                        </div>
                        <!--content-->

                        @*<div class="extra-info">
                            <a href="tel:919670145355" class="faa-parent animated-hover">
                                <i class="fa fa-phone faa-passing"></i> +91 9670145355
                            </a><br />
                            <a href="tel:919670145355" class="faa-parent animated-hover">
                                <i class="fa fa-whatsapp faa-passing"></i> +91 9670145355
                            </a>
                            <a href="mailto:admin@shriradheykunj.com" class="faa-parent animated-hover">
                                <i class="fa fa-envelope faa-passing"></i> admin@shriradheykunj.com
                            </a>
                        </div>*@
                    </div>
                    <!--left-->

                    <div class="col-md-3 col-sm-4 mid-block">
                        <h5>Useful links</h5>
                        <ul class="footer-link">
                            <li><a href="/Website/Index">Home</a></li>
                            <li><a href="/Website/CompanyProfile">Company Profile</a></li>
                            <li><a href="/Website/OurMission">Our Mission </a></li>
                            <li><a href="/Website/Team">Management Team</a></li>
                            <li><a href="/Website/Trip">Trip </a></li>
                            <li><a href="/Website/Winner">Winner </a></li>
                        </ul>
                    </div>
                    <!--mid-->

                    <div class="col-md-3 col-sm-4 mid-block">
                        <h5>Our Projects</h5>
                        <ul class="footer-link">
                            <li><a href="/Website/Residential">Residential</a></li>
                            <li><a href="/Website/Availibility">Availibility </a></li>
                            <li><a href="/Website/Layout">Layouts</a></li>
                        </ul>
                    </div>
                    <!--mid-->

                    <div class="col-md-3 col-sm-4">
                        <h5>Important links</h5>
                        <ul class="footer-link">
                            <li><a href="/Website/plot">Online Plot Booking</a></li>
                            <li><a href="/Website/CancellationPolicy">Refund & Cancellation Policy</a></li>
                            <li><a href="/Website/Appointment">Request For Site Visit</a></li>
                            <li><a href="/Website/RequestForm">Open Request To Join</a></li>
                        </ul>
                    </div>
                    <!--mid-->
                </div>
            </div>
        </div>
        <!--footer top-->

        <div class="footer lh-normal">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 left-block text-white">
                        &copy; 2019. All rights reserved || Developed by <a href="http://afluex.com/" class="text-white" target="blank">Afluex Multiservices LLP.</a>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <ul class="social-icons pull-right">
                            <li>
                                <a href="https://www.facebook.com/shriradheykunjinfratech/" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram "></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer-->
    <!-- back to top-->
    <a href="#" class="scrollup" id="scrollToTopBtn"><i class="fa fa-angle-up"></i></a>
    <!-- Js libery -->
    <script src="~/WebsiteCss/assets/js/jquery-3.1.1.min.js"></script>
    <script src="~/WebsiteCss/assets/js/bootstrap.min.js"></script>
    <script src="~/WebsiteCss/assets/js/modernizr.js"></script>

    <!--jquery ui-->
    <script src="~/WebsiteCss/assets/js/jquery-ui.js"></script>
    <script src="~/WebsiteCss/assets/js/jquery-ui-touch-punch.js"></script>

    <!-- masonry -->
    <script src="~/WebsiteCss/assets/js/masonry.pkgd.min.js"></script>

    <!-- slider js -->
    <script src="~/WebsiteCss/assets/js/slick.min.js"></script>
    <script src="~/WebsiteCss/assets/js/jquery.bxslider.min.js"></script>

    <!-- wow -->
    <script src="~/WebsiteCss/assets/js/wow.min.js"></script>

    <!-- lightbox -->
    <script src="~/WebsiteCss/assets/js/ekko-lightbox.min.js"></script>

    <!-- parallax -->
    <script src="~/WebsiteCss/assets/js/parallax.js"></script>

    <!--Costom js-->
    <script src="~/WebsiteCss/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script>
        var scrollToTopBtn = document.getElementById("scrollToTopBtn");
        var rootElement = document.documentElement;

        function scrollToTop() {
            // Scroll to top logic
            rootElement.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        }
        scrollToTopBtn.addEventListener("click", scrollToTop);
    </script>
</body>
</html>